In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
data_daily = pd.read_csv("hourly-without-night-hrs.csv")
data_daily.head()

,Date,Hour,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy
0,2/1/2016,6,0.00,9.92,0.37,-0.01,89.12,4.72,29.19,29.98,0.00
1,2/1/2016,7,0.00,10.00,0.47,-0.04,90.08,6.00,29.20,29.99,84.29
2,2/1/2016,8,0.14,9.92,0.89,0.30,92.00,2.76,29.22,30.01,531.00
3,2/1/2016,9,0.92,10.00,1.97,0.41,86.12,5.56,29.24,30.04,923.75
4,2/1/2016,10,0.46,10.00,3.15,1.07,82.48,2.12,29.27,30.06,1947.75

In [4]:
# create a scaler object
scaler = MinMaxScaler()
#scalar = StandardScaler()

df_norm = pd.DataFrame(scaler.fit_transform(data_daily.iloc[:,1:]), columns=data_daily.columns[1:])

#df_norm["Solar Energy"] = list(data_daily.iloc[:,-1])

In [5]:
train, test = train_test_split(data_daily,  test_size=0.3)
train

,Date,Hour,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy
3408,11/11/2016,6,0.00,10.00,5.39,4.58,79.88,9.08,29.35,30.15,40.76
6219,7/11/2017,9,1.00,4.44,22.15,22.11,92.02,20.25,29.16,29.96,496.20
6780,8/27/2017,6,0.00,9.92,14.56,13.43,88.20,4.04,29.34,30.14,57.88
436,3/8/2016,10,0.00,10.00,17.58,12.06,66.92,21.48,29.18,29.97,3277.50
6223,7/11/2017,13,0.17,10.00,24.14,22.34,89.04,3.12,29.19,29.98,640.25
...,...,...,...,...,...,...,...,...,...,...,...
6827,8/30/2017,17,0.02,10.00,24.47,16.05,21.06,6.96,8.53,30.06,1609.50
6697,8/20/2017,7,0.00,9.96,22.49,20.15,84.96,5.68,29.26,30.05,534.25
6531,8/6/2017,9,1.00,10.00,19.59,16.43,79.40,4.72,29.25,30.05,408.50
3833,12/16/2016,11,1.00,10.00,-5.87,-12.00,60.96,15.08,29.31,30.10,605.75
6508,8/4/2017,10,0.99,10.00,16.67,11.10,69.72,14.57,29.20,30.00,2585.25

In [6]:
test

,Date,Hour,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy
4841,3/18/2017,11,1.00,10.00,4.66,0.66,70.62,19.23,29.41,30.21,1240.75
6766,8/25/2017,16,0.00,10.00,23.75,10.95,44.48,8.28,29.41,30.21,2706.75
4484,2/16/2017,14,0.00,10.00,10.32,-3.05,40.68,17.12,29.03,29.82,2277.25
5531,5/14/2017,17,0.00,10.00,27.32,9.77,31.20,12.56,29.07,29.86,1835.25
3621,11/28/2016,15,1.00,5.24,9.88,9.64,94.80,23.04,28.57,29.35,31.65
...,...,...,...,...,...,...,...,...,...,...,...
3634,11/29/2016,16,0.14,10.00,12.09,9.84,21.97,12.52,8.51,29.55,36.65
5133,4/11/2017,15,0.43,10.00,13.67,5.66,55.20,10.12,29.44,30.24,2564.25
680,3/28/2016,14,0.83,10.00,11.42,2.86,56.84,10.88,29.34,30.14,2801.25
1384,5/26/2016,10,0.55,10.00,19.59,18.06,93.00,12.12,29.17,29.96,238.50
4697,3/6/2017,11,1.00,3.42,13.00,12.58,95.54,19.19,29.17,29.96,452.00

In [7]:
reg = LinearRegression()
reg.fit(train.iloc[:,1:8],train.iloc[:,-1])
print("Multiple Regression Coefficients are: " + str(reg.coef_), end = "\n\n")
print("Intercept: ", str(reg.intercept_), end = "\n\n")

Multiple Regression Coefficients are: [ -17.48757708 -348.81985982   51.81073182  179.6155236  -157.39326512
    2.73724863   17.38753615]

Intercept:  -87.07800139146411

In [8]:
pred = reg.predict(test.iloc[:,1:8])

# The mean squared error
print('Mean squared error: %.2f' % mean_squared_error(test.iloc[:,-1], pred))

# The coefficient of determination
print('Coefficient of determination: %.2f' % r2_score(test.iloc[:,-1], pred))

Mean squared error: 1284862.88
Coefficient of determination: 0.42